{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>CECI EST LA VUE DEUX</h1>
        </div>
    </div>

    <a href="{{ path('methodeUn') }}">VOICI LE LIEN VERS VUE UN</a>
{% endblock %}
